@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

// variables
// colors - primary
$prim_modBlue: hsl(238, 40%, 52%);
$prim_softRed: hsl(358, 79%, 66%);
$prim_liGrayBlue: hsl(239, 57%, 85%);
$prim_paleRed: hsl(357, 100%, 86%);

// colors - neutral
$neut_darkBlue: hsl(212, 24%, 26%);
$neut_grayishBlue: hsl(211, 10%, 45%);
$neut_liGray: hsl(223, 19%, 93%);
$neut_veryLiGray: hsl(228, 33%, 97%);
$neut_white: hsl(0, 0%, 100%);

$space_btwComments: 1rem;
$space_inComment: 1.5rem;
$borderRadius: 6px;
$transition: all 250ms ease;

$breakpoint_small: 600px;
$breakpoint_medium: 850px;
$breakpoint_large: 1200px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: $neut_grayishBlue;
}

button:not(:disabled) {
    font-size: 1rem;
    cursor: pointer;
}

body {
    font-size: 16px;
    background-color: $neut_veryLiGray;

    &.unscrollable {
        overflow: hidden;
    }

    main {

        @media screen and (max-width: $breakpoint_medium) {
            margin: 2.5% 0;
            padding: 0 2.5%;
        }

        @media screen and (min-width: $breakpoint_medium) {
            margin: 2.5% 0;
            padding: 0 15%;
        }

        @media screen and (min-width: $breakpoint_large) {
            margin: 4rem 0;
            padding: 0 25%;
        }

        .comments {
            margin-bottom: $space_btwComments;

            .comment-wrapper {
                &:not(:last-of-type) {
                    margin-bottom: $space_btwComments;
                }

                .comment {
                    display: flex;
                    flex-direction: row;
                    padding: $space_inComment;
                    border-radius: $borderRadius;
                    background-color: $neut_white;

                    @media screen and (max-width: $breakpoint_small) {
                        position: relative;
                        padding-bottom: calc($space_inComment*2.75);
                    }

                    .comment-voter {
                        display: flex;
                        flex-direction: column;
                        margin-right: $space_inComment;

                        &>* {
                            padding: 0.25rem 0.5rem;
                            background-color: $neut_veryLiGray;
                        }

                        @media screen and (max-width: $breakpoint_small) {
                            position: absolute;
                            bottom: $space_inComment;
                            left: $space_inComment;
                            flex-direction: row;
                        }

                        button {
                            border: none;
                            color: $prim_liGrayBlue;
                            font-weight: 500;
                            transition: $transition;
                            user-select: none;

                            &:first-of-type {
                                border-top-left-radius: $borderRadius;

                                @media screen and (max-width: $breakpoint_small) {
                                    border-bottom-left-radius: $borderRadius;
                                }

                                @media screen and (min-width: $breakpoint_small) {
                                    border-top-right-radius: $borderRadius;
                                }
                            }

                            &:last-of-type {
                                border-bottom-right-radius: $borderRadius;

                                @media screen and (max-width: $breakpoint_small) {
                                    border-top-right-radius: $borderRadius;
                                }

                                @media screen and (min-width: $breakpoint_small) {
                                    border-bottom-left-radius: $borderRadius;
                                }
                            }

                            &:hover:not(:disabled) {
                                color: $prim_modBlue;
                            }

                            .comment-voter-downvote-icon,
                            .comment-voter-upvote-icon {
                                transform: scale(0.9);
                            }
                        }

                        .comment-voter-score {
                            min-width: 2.4em;
                            color: $prim_modBlue;
                            font-weight: 500;
                            text-align: center;
                        }
                    }

                    .comment-main {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;

                        .comment-main-header {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: calc($space_inComment/2);

                            .comment-main-header-info {
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;

                                &>*:not(:last-child) {
                                    margin-right: calc($space_inComment/2);
                                }

                                .comment-author-profile-photo {
                                    width: 2rem;
                                }

                                .comment-author {
                                    color: $neut_darkBlue;
                                    font-weight: 500;
                                }

                                .comment-owner-tag {
                                    padding: 0.1em 0.4em 0.2em 0.4em;
                                    border-radius: calc($borderRadius/4);
                                    background-color: $prim_modBlue;
                                    color: $neut_white;
                                    font-size: 0.75rem;
                                }
                            }

                            .comment-main-header-actions {
                                display: flex;
                                flex-flow: row nowrap;

                                @media screen and (max-width: $breakpoint_small) {
                                    position: absolute;
                                    bottom: calc($space_inComment*1.25);
                                    right: $space_inComment;
                                }

                                .comment-main-header-action {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;
                                    border: none;
                                    background-color: transparent;
                                    transition: $transition;

                                    &:not(:last-child) {
                                        margin-right: $space_inComment;
                                    }

                                    path {
                                        transition: $transition;
                                    }

                                    &.comment-main-header-reply,
                                    &.comment-main-header-edit {
                                        color: $prim_modBlue;

                                        &:hover {
                                            color: $prim_liGrayBlue;

                                            .comment-main-header-action-icon path {
                                                fill: $prim_liGrayBlue;
                                            }
                                        }
                                    }

                                    &.comment-main-header-delete {
                                        color: $prim_softRed;

                                        &:hover {
                                            color: $prim_paleRed;

                                            .comment-main-header-action-icon path {
                                                fill: $prim_paleRed;
                                            }
                                        }
                                    }

                                    .comment-main-header-action-icon {
                                        margin-right: calc($space_inComment/4);
                                        transition: $transition;
                                    }
                                }
                            }
                        }

                        .comment-text {
                            .comment-text-recipient {
                                color: $prim_modBlue;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .comment-replies {
                    display: flex;
                    flex-flow: row nowrap;
                    margin-top: $space_btwComments;

                    .vertical-indentation-line {
                        flex-shrink: 0;
                        width: 2px;
                        margin: 0 2rem;
                        border-radius: 2px;
                        background-color: $neut_liGray;

                        @media screen and (max-width: $breakpoint_medium) {
                            margin: 0 1rem 0 0;
                        }
                    }

                    .comment-replies-wrapper {
                        flex-grow: 1;
                    }
                }
            }
        }


        .comment-create,
        .comment-edit-section,
        .comment-reply-section {
            border-radius: $borderRadius;
            background-color: $neut_white;

            .comment-author-profile-photo {
                width: 2.5rem;
                flex-shrink: 0;
            }

            .comment-input {
                width: 100%;
                padding: 1em 1.5em;
                border: 1px solid $neut_liGray;
                border-radius: $borderRadius;
                columns: 20;
                resize: none;
                transition: $transition;
                font-size: 1rem;

                &:focus {
                    outline: 0;
                    border-color: $prim_liGrayBlue;
                }
            }

            .comment-action-button {
                padding: 0.75em 1.5em;
                border: none;
                border-radius: $borderRadius;
                background-color: $prim_modBlue;
                font-size: 0.9rem;
                color: $neut_white;
                text-transform: uppercase;
                transition: $transition;

                &:hover {
                    background-color: $prim_liGrayBlue;
                }
            }
        }

        .comment-create,
        .comment-reply-section {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: $space_inComment;

            @media screen and (max-width: $breakpoint_small) {
                flex-direction: column;
                padding-bottom: calc($space_inComment*3.5);

                .comment-input {
                    order: 1;
                }

                .comment-author-profile-photo,
                .comment-action-button {
                    position: absolute;
                    order: 2;
                    bottom: $space_inComment;
                }

                .comment-author-profile-photo {
                    left: $space_inComment;
                }

                .comment-action-button {
                    right: $space_inComment;
                }
            }

            @media screen and (min-width: $breakpoint_small) {
                >*:not(:last-child) {
                    margin-right: calc($space_inComment/2);
                }
            }
        }


        .comment-reply-section {
            margin-top: calc($space_btwComments/2);
        }

        .comment-edit-section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            >*:not(:last-child) {
                margin-bottom: calc($space_inComment/2);
            }
        }
    }


    footer {
        padding-bottom: 0.5rem;

        .attribution {
            text-align: center;
            font-size: 0.75rem;
            font-weight: 400;
            color: #8f8f8f;

            a {
                color: #7881aa;
                font-weight: 400;
            }
        }
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .loading-spinner {
        width: 2.5rem;
        height: 2.5rem;
        border: 4px solid $neut_liGray;
        border-top: 4px solid $neut_grayishBlue;
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
    }


    #delete-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);

        .delete-modal-popup {
            padding: 2em;
            border-radius: $borderRadius;
            background-color: $neut_white;

            >*:not(.delete-modal-popup-actions) {
                margin-bottom: 1rem;
            }

            h1 {
                color: $neut_darkBlue;
            }

            p {
                line-height: 1.5rem;
            }

            .delete-modal-popup-actions {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                .delete-modal-popup-actions-button {
                    flex-grow: 1;
                    padding: 1em 2em;
                    border: none;
                    border-radius: $borderRadius;
                    color: $neut_white;
                    text-transform: uppercase;
                }

                .delete-modal-action-cancel {
                    background-color: $neut_grayishBlue;
                    margin-right: 1em;
                    transition: $transition;

                    &:hover {
                        filter: opacity(50%);
                    }
                }

                .delete-modal-action-delete {
                    background-color: $prim_softRed;
                    transition: $transition;

                    &:hover {
                        background-color: $prim_paleRed;
                    }
                }
            }

        }
    }
}